body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

.container {
    margin: 20px;
}

input {
    margin: 5px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    margin: auto;
    background: white;
}